<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.office.mapper.TodoMapper">

	<!-- * 작성자 : 고광훈 * 진행상황 : src/main/java 패키지 생성, office페이지 컨트롤러, Mapper, 
		Service, VO 생성 * 변수정리 : * 테스트 성공 유무 : * 오류사항 : * etc... -->


	<select id="getTodoList" resultType="org.office.domain.TodoVO">
        <![CDATA[
 SELECT todo_num, checker, todo_title, todo_content, recive_time, complete FROM todo
WHERE worker=#{worker} AND complete="ing"
ORDER BY todo_num DESC LIMIT #{startPage}, #{amount}
 ]]>
	</select>

	<select id="getCreatedTodo"
		resultType="org.office.domain.TodoVO">
        <![CDATA[
 SELECT todo_num, checker, worker, todo_title, todo_content, recive_time, complete FROM todo
WHERE checker=#{checker} ORDER BY recive_time DESC LIMIT 0, 5
 ]]>
	</select>

	<select id="getTodoComplete"
		resultType="org.office.domain.TodoVO">
        <![CDATA[
 SELECT todo_num, worker, todo_title, todo_content, complete_time, complete FROM todo
WHERE checker=#{checker} AND complete="complete" ORDER BY complete_time DESC LIMIT 0, 5
 ]]>
	</select>

	<insert id="insertTodo">
        <![CDATA[
 INSERT INTO todo(worker, checker, todo_title, todo_content, recive_time)
 VALUES (#{worker}, #{checker},#{todo_title}, #{todo_content}, now())
 ]]>
	</insert>

	<update id="passTodo">
        <![CDATA[
 UPDATE todo SET worker = #{worker}, todo_content = #{todo_content} WHERE todo_num = #{todo_num}
 ]]>
	</update>

	<update id="statTodo">
        <![CDATA[
 UPDATE todo SET complete = #{complete}, complete_time = now() WHERE todo_num = #{todo_num}
 ]]>
	</update>

	<select id="getTodo" resultType="org.office.domain.TodoVO">
        <![CDATA[
 SELECT * FROM todo WHERE todo_num = #{todo_num}
 ]]>
	</select>

	<select id="todoCnt" resultType="int">
        <![CDATA[
SELECT COUNT(todo_num) FROM todo WHERE complete="ing"
 ]]>
	</select>

</mapper>